.body1{
    background-image: url("wallpaper2.jpg");
}

h1{
    color : white;
    font-family: 'Lobster', cursive;
    font-size: 80px;
    letter-spacing: 10px;
    text-align: center;
}

h2{
    color : white;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: left;
}

h3{
    color : yellow;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: left;
}

p, ul , dl, table, ol{
    color : white;
    font-size : 20px;
    text-align : left;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

thead{
    color : yellow;
    font-size : 20px;
    text-align : left;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

table, th, td{
    border-collapse: collapse;
    border: 3px solid dimgray;
}

#img1{
    position: absolute;
    left: 400px;
    top : 300px;
}

#img2{
    position: absolute;
    left: 900px;
    top : 300px;
}

#htmlCenter{
    color : white;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
}

.ddJustificado{
    text-align: justify;
    color : white;
    font-size : 20px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

/*#logoHTML{
    position: absolute;
    left: 200px;
    top : 200px;
}*/
