h1{
    color : white;
    font-family: 'Lobster', cursive;
    font-size: 80px;
    letter-spacing: 10px;
    text-align: center;
}

p{
    /*PROPIEDADES DEL TEXTO*/
    color : white;
    font-size : 20px;
    text-align : left;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;

    /*PROPIEDADES DEL BORDE*/
    border-color: dimgray;
    border-width: 7px;
    border-style : solid;
    width:600px;
    height:150px;

    /*DISTANCIA DEL TEXTO AL BORDE*/
    padding: 20px 20px 20px 20px;
}

a{
    color : dodgerblue;
    font-size: 25px;
}

h6{
    color : white;
    font-family: "Candara";
    font-size: 17px;
    text-align: right;
}

.body1{
    /*background-image: url("fondo1.jpg");*/
    background-image: url("wallpaper2.jpg");
    /*background-repeat: no-repeat;*/
}