.body1{
    background-image: url("fondo3.jpg");
}

h1{
    color : white;
    font-family: 'Lobster', cursive;
    font-size: 80px;
    letter-spacing: 10px;
    text-align: center;
}

h2{
    color : white;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: left;
}

h3, ol{
    color : yellow;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: left;
}

p, ul , dl, table{
    color : white;
    font-size : 20px;
    text-align : left;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

thead{
    color : yellow;
    font-size : 20px;
    text-align : left;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

table, th, td{
    border-collapse: collapse;
    border: 3px solid dodgerblue;
}

#div1, #div2, #div3 {
    color : white;
    font-size : 20px;
    text-align : center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;

    /*PROPIEDADES DE LA CAJA*/  
    /*top, right, bottom y left.*/
    border: 3px solid #CCC;
    padding: 1em;
    margin: 1em 2em 1em 2em;
    width: 90px;
}

#div1{
    position: relative;
    left: 100px;
}

#div2{
    position: relative;
    left: 300px;
}

#div3{
    position: relative;
    left: 500px;
}